/* 
Custom CSS 
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

html{
	text-align: center;
}

.panel {
    border: 0;
}

.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}

ul
{
    list-style-type: none;
    margin-bottom: 20px;
}

li
{
	  list-style-type: none;
	  font-size: 18px;
	  padding: 5px;
	  border:1px solid black;
	  color: #fff;
	  background: #353535;
	  width: 200px;
	  margin-top: 15px;
	  margin-bottom: 15px; 
	  border-radius: 10px; 
   
}

li.nav
{
	  list-style-type: none;
	  font-size: 18px;
	  padding: 0px;
	  border:none;
	  color: #fff;
	  background: none;
	  margin-top: 0px;
	  margin-bottom: 0px; 
	  width: 150px;   
}

li.current
{
	  list-style-type: none;
	  font-size: 18px;
	  padding: 5px;
	  border:1px solid #48A59B;
	  color: #fff;
	  background: #48A59B;
	  width: 200px;
	  margin-top: 15px;
	  margin-bottom: 15px;   
}

li.placeholder
{
	  list-style-type: none;
	  font-size: 18px;
	  padding: 5px;
	  border:0px;
	  color: #000;
	  background: none;
	  width: 200px;
	  margin-top: 15px;
	  margin-bottom: 15px; 

}

#title {
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  margin: 0 auto;

  padding-top: 1em;
  color: #312E3F;
}

#back {
  margin-top: 50px;
  width:450px;
  height: 575px;
  background-color: white;
  color: #ffffff;
}

#content {
	width: 400px;
}

#content2 {
width: 400px;
	
}

h1 {
	font-size: 18px;
	color: #312E3F;
}

#course {
	
  font-size: 18px;
  padding: 5px;
  border:1px solid black;
  background-image: url("test.png");
  width: 200px;
}

/* --------------------------------------------------
:: Panel Section
-------------------------------------------------- */
.panel-heading {
  font-weight: bold;
}

.panel-body {
	background-color: #EEE;
	max-height: 300px;
	overflow-y: scroll;
}




/* --------------------------------------------------
:: Navbar Section
-------------------------------------------------- */
#navbar-brand {
  position: fixed;
  
}



/* --------------------------------------------------
:: Login Section
-------------------------------------------------- */
#login {
    padding-top: 20px;
    font-family: Verdana;

}
#login .form-wrap {
    width: 200px;
    margin: 0 auto;
}
#login h1 {
    color: #312E3F;
    font-size: 18px;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 20px;
}
#login {
    margin-bottom: 0px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}