/* 
Custom CSS 
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);





#title {
  font-family: 'Verdana', sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;

  padding-top: 1em;
  color: #312E3F;
}

#back {
margin-top: 50px;
width:450px;
height: 575px;
  background-color: white;
  color: #ffffff;
  text-align: center;
}

#content {
	width: 400px;
    text-align: center;
}

#content2 {
width: 400px;
text-align: center;
	
}

h1 {
	font-size: 18px;
    color: #312E3F;
}


/* --------------------------------------------------
:: Login Section
-------------------------------------------------- */
#login {
    padding-top: 20px;
    font-family: Verdana;

}
#login .form-wrap {
    width: 200px;
    margin: 0 auto;
}
#login h1 {
    color: #312E3F;
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 20px;
}
#login {
    margin-bottom: 0px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/*    --------------------------------------------------
  :: Inputs & Buttons
  -------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
  color: #fff;
  background-color: #E56C6C;
  
}

.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
    background-color: #BF5656;
}